/* Importamos la base de TAILWIND */
@tailwind base;

/* APLICO ALGUNAS MODIFICACIONES A LA BASE */
@layer base {
    ::selection {
        @apply bg-sky-500 text-gray-900;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        @apply bg-gray-200 dark:bg-gray-800;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-sky-400;
    }
    html {
        font-family: 'Source Code Pro', monospace;
        scroll-behavior: smooth;
    }
    body {
        scrollbar-color: rgb(56 189 248) rgb(7 89 133);
        overflow-x: hidden;
    }
    button:focus-visible,
    a:focus-visible {
        @apply dark:focus-visible:outline-sky-400 focus-visible:outline-sky-600 focus-visible:outline-offset-4;
    }
    p {
        @apply lg:text-lg 2xl:text-2xl;
    }
    /* h1 {
        @apply text-4xl xl:text-5xl 2xl:text-6xl;
    }
    h2 {
        @apply text-2xl xl:text-3xl 2xl:text-4xl;
    }
    h3 {
        @apply text-xl xl:text-2xl 2xl:text-3xl;
    }
*/
}
