@tailwind utilities;

@layer utilities {
    .section-padding {
        @apply px-8 sm:px-16 lg:px-32 2xl:px-40;
    }
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
